node_modules/
node_modules
Documentation
UI
dist
dist-ssr
*.local
error_files


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Secrets and Credentials
secrets.json
smma-final-build-*.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
*.env
backend/.env
backend/geo_service/.env

# Backend temporary / transcoded media
backend/transcoded/*
!backend/transcoded/.gitkeep

# Terraform files
terraform/terraform.tfvars
terraform/.terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*override.tf
*override.tf.json
.terraformrc
terraform.rc